<div class="app-container">

<mat-toolbar
  color="primary"
  fxLayoutGap="8px"
  class="toolbar app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TopUp MaMa</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="My Current Location">
    <mat-icon>my_location</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="'over'"
    (click)="sidenav.toggle()">
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active-link"
        [routerLink]="['home']"
      >
        <mat-icon class="nav-icons">account_circle </mat-icon>
        My Account
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        [routerLink]="['location']"
      >
        <mat-icon class="nav-icons">my_location </mat-icon>
        My Location
      </a>
      <a
          mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['users']"
        >
          <mat-icon class="nav-icons">people </mat-icon>
          Users
        </a>
      <mat-divider></mat-divider>
      <a
          mat-list-item
          routerLinkActive="active-link"
          (click)="signOut()"
        >
          <mat-icon class="nav-icons">cancel </mat-icon>
          Logout
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    [@routeAnimations]="
        outlet && outlet.isActivated && outlet.activatedRouteData
      ">
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
