<div class="app-container" *ngIf="authStatus$ | async as authState">

<mat-toolbar
  color="primary"
  fxLayoutGap="8px"
  class="toolbar app-toolbar">
  <button *ngIf="authState.isLoggedIn"  mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TopUp MaMa</span>
</mat-toolbar>
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="'side'"
    (click)="sidenav.toggle()">
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active-link"
        [routerLink]="['home']"
      >
        <mat-icon class="nav-icons">account_circle </mat-icon>
        My Account
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        [routerLink]="['location']"
      >
        <mat-icon class="nav-icons">my_location </mat-icon>
        My Location
      </a>
      <a
          mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['users']"
        >
          <mat-icon class="nav-icons">people </mat-icon>
          Users
        </a>
      <a
          mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['form']"
        >
          <mat-icon class="nav-icons">people </mat-icon>
          Users2
        </a>
      <mat-divider></mat-divider>
      <a
          mat-list-item
          routerLinkActive="active-link"
          (click)="signOut()"
        >
          <mat-icon class="nav-icons">cancel </mat-icon>
          Logout
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    fullscreen
    [@routeAnimations]="
        outlet && outlet.isActivated && outlet.activatedRouteData
      ">
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer *ngIf="authState.isLoggedIn"></app-footer>
</div>
