<div fxLayout="row" fxLayoutAlign="space-evenly center"style="margin: 21px"  *ngIf="currentUser$ | async let userData">

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{userData.data.first_name}}</mat-card-title>
    <mat-card-subtitle>{{userData.data.email}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{userData.data.avatar}}" alt="Profile Picture">

</mat-card>
<app-user-edit [userDetails]="userDetails" (submitted)="onSubmitted($event)"></app-user-edit>
</div>

<pre>{{ userDetails | json }}</pre>
